@model User

<h2 class="text-center">Register</h2>
<hr/>

<div class="container w-75 mx-auto">

    <form class="shadow p-3 rounded text-center"  asp-controller="Home" asp-action="Register" method="POST">
        <div class="mb-3">
            <label asp-for="FirstName">First Name</label>
            <span asp-validation-for="FirstName" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="FirstName">
        </div>
        <div class="mb-3">
            <label asp-for="LastName">Last Name</label>
            <span asp-validation-for="LastName" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="LastName">
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="Email">
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="Password">
        </div>
        <div class="mb-3">
            <label asp-for="PasswordConfirm">Confirm Password</label>
            <span asp-validation-for="PasswordConfirm" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="PasswordConfirm">
        </div>
        <button type="submit">Register</button>
    </form>

</div>